.table{
	margin-top: 30px;
	border: 1px solid gray;
	width: 200px;
	height: 600px;
	font-size: 18px;

	td{
		border: 1px solid black;
		background-color: rgba(10, 207, 221, 0.26);
		text-align: center;
	}


}